
        <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
            <div class="form-group required">
                <label>Username</label>
                <input type="text" class="form-control" formControlName="username">
                <label class="text-danger" *ngIf="service.formModel.get('username').touched && service.formModel.get('username').errors?.required">
                    This field is required
                </label>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="Email">
                <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">
                    Invalid Email address
                </label>
            </div>
            <div class="form-group">
                <label>Full name</label>
                <input type="text" class="form-control" formControlName="Fullname">
            </div>
            <div formGroupName="Passwords">
                <div class="form-group required">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="Password">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">
                        This field is required
                    </label>
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">
                        Minimum of 4 password Characters
                    </label>
                </div>
                <div class="form-group required">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" formControlName="ConfirmPassword">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">
                        This field is required
                    </label>
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">
                        Password does not match
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-lg btn-block" [disabled]= "!service.formModel.valid" style="background-color: rgb(255, 167, 2)">Sign Up</button>
                </div>
            </div>
        </form>
  
        