<router-outlet></router-outlet>
<div class="row">
    <div class="col-sm-6">
        <span class="col-md-6 btn btn-sm" routerLink='/user/registration/user-registration' routerLinkActive='active' style="text-align: center !important; color: #ffffff;">
            Registry </span>
    </div>
    <div class="col-sm-6">
        <label class="col-md-6 btn btn-sm" routerLink='/user/registration/admin-registration' routerLinkActive='active' style="text-align: center !important; color: #ffffff;">
            Bank</label>
    </div>
</div>
<!-- <label class="radio-inline"><input type="radio" name="optradio" checked>Option 1</label>
<label class="radio-inline"><input type="radio" name="optradio">Option 2</label> -->