   
    <div class="wrapper" style=" background-color: rgb(10, 2, 48); color: #ffffff; " >
    <div class="wrapped-div mt-4">
        <div class="tab-header row pt-3 pb-3">
            <a class="col-md-6 btn btn-sm" routerLink='/user/login' routerLinkActive='active' style="text-align: center; color: #ffffff; border: none;">Sign In</a>
            <a class="col-md-6 btn" routerLink='/user/registration' routerLinkActive='active'  style="text-align: center; color: #ffffff;">Sign Up</a>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>