<!-- <p>dashboard works!</p> -->
<div class="container justify-content-center pt-4 pb-4" style="background-color: #ffffff">
  <div class="row pt-3 pb-3">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">Total Registered Properties<i class="fa float-right fas fa-ellipsis-v"></i></div>
        <div class="card-body">
          <i class="fa fa-fw fa-home" style="font-size: 210%; color: #f0b30b"></i>
          <br>
          3456 Properties
          <div class="progress" style="height:5px">
            <div class="progress-bar bg-warning" style="width:40%"></div>
          </div>
        </div>
        <!-- <div class="card-footer">And counting</div> -->
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">Total Mortgaged<i class="fa float-right fas fa-ellipsis-v"></i></div>
        <div class="card-body">
          <i class="fa fa-fw fa-home" style="font-size: 210%; color: #5ff00b"></i>
          <br>
          3423
          <div class="progress" style="height:5px">
            <div class="progress-bar" style="width:40%; background-color:#5ff00b"></div>
          </div>
        </div>
        <!-- <div class="card-footer">And counting</div> -->
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">Unmortgaged<i class="fa float-right fas fa-ellipsis-v"></i></div>
        <div class="card-body">
          <i class="fa fa-fw fa-home" style="font-size: 210%; color: #3d0bf0"></i>
          <br>
          336
          <div class="progress" style="height:5px">
            <div class="progress-bar" style="width:40%; background-color:#3d0bf0"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">Total Percentage Mortgaged<i class="fa float-right fas fa-ellipsis-v"></i></div>
        <div class="card-body">
          <i class="fa fa-fw fa-home" style="font-size: 210%; color: #3d0bf0"></i>
          <br>
          73 %
          <div class="progress" style="height:5px">
            <div class="progress-bar" style="width:40%; background-color:#3d0bf0"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row pt-3 pb-3">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">Account Details <span>Edit</span><i class="fa float-right fas fa-ellipsis-v"></i></div>
            <div class="card-body">
              <i class="fa fa-fw fa-home" style="font-size: 210%; color: #ffcc00"></i>
              <br>
                <div class="card-title"><b>Isaac Orija</b></div>
                <div class="card-text">
                        <ul>
                                <li>House of 4, akinsemoyin and co...</li>
                                <li>Phone No: +2348098397498</li>
                                
                              </ul>
                </div>
              <div class="progress" style="height:5px">
                <div class="progress-bar bg-warning" style="width:40%; color:#172556"></div>
              </div>
            </div>
            <div class="card-footer">And counting</div>
          </div>
        </div>
    
        <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">Address <span>Edit</span><i class="fa float-right fas fa-ellipsis-v"></i></div>
                  <div class="card-body">
                    <i class="fa fa-fw fa-address-card-o" style="font-size: 210%; color: #ffcc00"></i>
                    <br>
                      <div class="card-title"><b>Your default shipping address</b></div>
                      <div class="card-text">
                              <ul>
                                      <li>Email: isaac.orija@alabamarket.com</li>
                                      <li>Phone No: +2348098397498</li>
                                      
                                    </ul>
                      </div>
                    <div class="progress" style="height:5px">
                      <div class="progress-bar bg-warning" style="width:40%"></div>
                    </div>
                  </div>
                  <div class="card-footer">And counting</div>
                </div>
              </div>
          
    
    
      </div>
    

</div>
